
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 14, 218);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    position: fixed;
  }

  h1 {
    color:white;
    font-family: Times New Roman;
  }

  h3 {
    color: #0dadf1;
    font-family: Times New Roman;
    text-transform: capitalize;
  }

  img {
    height: 10%;
    width: auto;
    position: fixed;
    top: 10px;
    left: 10px;
  }